// Color schemes for light and dark mode

$color: #0083a0;
$accent: #6968A7;

$light-scheme-color: #009ddc;
$light-scheme-accent: #909090;

$bg: #1e1e1e;
$text: #f7f6f5;
$header: #8f8f8e;
$header-before: #8f8f8e;

$light-scheme-bg: #f7f6f4;
$light-scheme-text: #474747;
$light-scheme-header: #ACACAC;
$light-scheme-header-before: #ACACAC;

$code-inline: #5bc8f9;
$code-inline-bg: #212c2d;
$code-block-accent: #5bc8f9;
$code-block-bg: rgba(33, 34, 40, 1);
$code-border: #c24a45;

$code-inline-light: #343434;
$code-inline-bg-light: #F8F8F8;
$code-block-accent-light: #00c2bb;
$code-block-bg-light: rgba(49, 50, 59, 1);
$code-border-light: #ACACAC;

$notice: #6968A7;
$notice-bg: rgba(33, 34, 40, 1);
$notice-light: #d2d2d2;
$notice-bg-light: #F8F8F8;

$message-default: #002d2b;
$message-light: #F8F8F8;
$message-black: #282828;
$message-green: #62bb47;
$message-yellow: #fcb827;
$message-orange: #f6821f;
$message-red: #e03940;
$message-purple: #953c96;
$message-blue: #009ddc;

$root-font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$root-font-size: 17px;
$root-line-height: 1.75;

$large-breakpoint: 38em;
$large-font-size: 1.25em;
